---
import { getCollection } from 'astro:content';

const allPosts = (await getCollection('blog'))
	.filter(p => !p.data.draft)
	.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const recentPosts = allPosts.slice(0, 10);
---

<div class="sidebar">
	<div class="sidebar-content">
		<!-- Pluralsight Video Courses -->
		<aside class="sidebar-section sidebar-video">
			<h3 class="sidebar-heading">Pluralsight Video Courses</h3>
			<ul>
				<li><a href="https://www.pluralsight.com/authors/dan-wahlin" target="_blank">View Dan's Video Courses</a></li>
			</ul>
		</aside>

		<!-- Recent Posts -->
		<aside class="sidebar-section sidebar-recent">
			<h3 class="sidebar-heading">Recent Posts</h3>
			<ul>
				{recentPosts.map((post) => (
					<li>
						<a href={`/${post.id}/`}>{post.data.title}</a>
					</li>
				))}
			</ul>
		</aside>
	</div>
</div>
